__pycache__
.pytest_cache
venv/
*.egg-info
.DS_Store
.vscode/
.venv/

dist/
build/
*.pyc


.idea/
.mypy_cache/
.coverage
htmlcov/
.tox/
.env

credentials/
*.json.key

.agentdna/
.claude/

uv.lock

# Example specific

examples/github_agent_workflow/agent_actor_ids.json
examples/github_agent_workflow/agent_names.json

# Tests

tests/temp