AGENTDNA_API_KEY=your_agentdna_api_key_here
CHAIN_URL=https://chain-connector-1.rubix.net
GOOGLE_APPLICATION_CREDENTIALS=credentials/service_account.json
GSHEETS_SPREADSHEET_ID=your_spreadsheet_id_here
GSHEETS_SHEET_NAME=Sheet1
AGENTDNA_REMOTE_NAME=GoogleSheetsMCP
